@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* index.css or global.css */
.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #a78bfa; /* violet-400 */
  border-radius: 10px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #ede9fe; /* violet-100 */
}
